<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zealon.bookstore.bookcenter.dao.BookAuthorMapper">

    <resultMap id="BaseResultMap" type="cn.zealon.bookstore.common.pojo.book.BookAuthor">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
        <result column="creater" jdbcType="VARCHAR" property="creater" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="updater" jdbcType="VARCHAR" property="updater" />
    </resultMap>

    <sql id="Base_Column_List">
      id, name, introduction, head_img_url, creater, create_time, update_time,
      updater
    </sql>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  book_author
        where id = #{id,jdbcType=INTEGER}
    </select>

    <sql id="findPageWithWhere">
        <where> 1=1
            <if test="name != null and name != ''" >
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <select id="findPageWithResult" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  book_author
        <include refid="findPageWithWhere" />
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  book_author
    </select>

    <select id="findPageWithCount" parameterType="String" resultType="Integer">
        select count(1)
        from book_author
        <include refid="findPageWithWhere" />
    </select>

</mapper>