<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zealon.readingcloud.book.dao.BookChapterMapper">

    <resultMap id="BaseResultMap" type="cn.zealon.readingcloud.common.pojo.book.BookChapter">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="book_id" jdbcType="INTEGER" property="bookId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="lock_status" jdbcType="BIT" property="lockStatus" />
        <result column="sort_number" jdbcType="INTEGER" property="sortNumber" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <resultMap id="BaseListResultMap" type="cn.zealon.readingcloud.common.pojo.book.BookChapter">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="book_id" jdbcType="INTEGER" property="bookId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="lock_status" jdbcType="BIT" property="lockStatus" />
        <result column="sort_number" jdbcType="INTEGER" property="sortNumber" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List_L">
      id, book_id, name,  lock_status, sort_number, creater, create_time, update_time,
      updater
    </sql>

    <sql id="Base_Column_List">
      id, book_id, name, content, lock_status, sort_number, creater, create_time, update_time,
      updater
    </sql>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  book_chapter
        where id = #{id,jdbcType=INTEGER}
    </select>

    <sql id="findPageWithWhere">
        <where>
            book_id = #{bookId,jdbcType=INTEGER}
        </where>
    </sql>

    <select id="findPageWithResult" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  book_chapter
        <include refid="findPageWithWhere" />
    </select>

    <select id="findPageWithCount" parameterType="java.lang.Integer" resultType="Integer">
        select count(1)
        from book_chapter
        <include refid="findPageWithWhere" />
    </select>

</mapper>